#contact{
    background:url('../img/15.jpg');
    overflow: hidden;
    width: 100% !important;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    color:$color-white;
    text-align: center;
    .contact__detail{
        padding: 100px 0;
        i{
            font-size: 50px;
        }
        h4{
            padding: 20px 0;
        }
    }
}