#design{
    padding: 100px 0;
    .container{
        .col-md-12{
            margin-bottom: 100px;
            p{
                color:$color-grey;
            }
        }

        .design__item{
            border-radius: 4px;
            border:1px solid #e9e9e9;
            padding: $pd-3;
            .design__icon{
                position: absolute;
                top: -30px;
                width: 60px;
                height: 60px;
                text-align: center;
                border-radius: 4px;
                background: #222;
                box-shadow: 0 0 0 10px #fff;
                line-height: 65px;
                i{
                    font-size:$fs-3; 
                    color:$color-white;
                }   
            }
            &:hover{
                .design__icon{
                    color: $color-white;
                    background: #D6B161;
                }
            }
            .design__content{
                p{
                    color:$color-grey;
                }
            }
           
        }
    }
}