#massive{
    padding: 100px 0;
    .container{
        .col-md-12{
            margin-bottom: 100px;
            p{
                color:$color-grey;
            }
        }
        .massive__item{
            padding: 50px 20px;
            border:1px solid rgba(0,0,0,0.1);
            text-align: center;
            i{
                font-size: 40px;
            }
            h5{
                padding: 25px 0;
            }
            p{
                color:$color-grey;
            }
            &:hover{
                background-color: $color-black;
                i{
                    color:$color-yellow;
                }
                h5{
                    color:$color-white;
                }
            }
        }
    }
}