$color-black : #222;
$color-white: #fff;
$color-grey:#7e7e7e;
$color-blue:#00adef;
$color-dark:#202020;
$color-yellow:#d6b161;

$pd-0: 5px;
$pd-1: 10px;
$pd-2: 20px;
$pd-3:30px;
$pd-4:4%;
$pd-5:7%;

$mg-1:10px;
$mg-2: 20px;
$mg-3:30px;
$mg-4:40px;
$mg-5:50px;
$mg-6:200px;
$fs-1:15px;
$fs-2:20px;
$fs-3:30px;
$fs-4:40px;

$fw-bold:bold;
$fw-normal:normal;